.profile__avatar-section {
    width: 120px;
    height: 120px;
    position: relative;
    margin: 0 29px 0 0;

}

.profile__avatar-section::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #000 url('../../../images/edit-avatar-button.svg') center no-repeat;
    display: block;
    opacity: 0;
    position: absolute;
    top: 0; 
    right: 0; 
    cursor: pointer;
    transition: opacity 0.3s ease-in; 
  }
  
  .profile__avatar-section:hover::after {
    opacity: 0.6; 
  }